body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-image: url(imgs/project-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.contain{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5ex;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3));
    border-radius: 24px;
    text-transform: uppercase;
    margin-top: 25px;
}

.box h1{
    color: #fff;
    font-weight: 500;
}

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 11px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: #FFF;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #2ecc71;
    border: 2px solid #2ecc71;
    font-weight: bold;
}


.box a{
    color: #fff;
    text-transform: lowercase;
}